################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tracker/.vs/Tracker/DesignTimeBuild
/Tracker/.vs/Tracker/FileContentIndex
